{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "react/react-in-jsx-scope": 0,
    "import/prefer-default-export": 0,
    "react/function-component-definition": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"]
    }
  ],
  "env": {
    "browser": true,
    "node": true
  }
}
