{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "no-plusplus": "off",
    "no-undef": "off",
    "no-param-reassign": "off",
    "react/react-in-jsx-scope": 0,
    "import/prefer-default-export": 0,
    "react/prop-types": "off",
    "react/no-array-index-key": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "react/function-component-definition": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-console": 2,
    "@typescript-eslint/no-explicit-any": 2,
    "import/no-cycle": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "@typescript-eslint/lines-between-class-members": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"]
    }
  ],
  "env": {
    "browser": true,
    "node": true
  }
}
